.electricityrate-container{
    align-items: center;
    font-family: "Anuphan", sans-serif;
}

.electricityrate {
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
}

.electricityrate h3{
    text-align: center;
    font-weight: 700;
    color: royalblue;
}

.electricityrate .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
}

.dropdown-menu.show {
    display: block;
    width: 100%;
    text-align: center;
}

.dropdown-menu .dropdown-item {
    padding: 0.5rem 1.5rem;
    font-family: "Anuphan", sans-serif;
    font-weight: 500;
    margin: auto;
}

.electricityrate-dropdown{
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: navy;
    max-width: 600px;
    margin: 20px auto;
}

.electricityrate-dropdown h3{
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.table-container{
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
}

.table .color {
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.table .color-electricity{
    background-color: paleturquoise;
    font-weight: bold;
    text-align: center;
    border: 5px solid #ffffff;
}