.home-center {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: 500;
}

.homepage-container{
    box-sizing: border-box;
    border: solid 1px rgb(141, 141, 141);
    border-radius: 10px;
    padding: 20px;
    font-family: "Anuphan", sans-serif;
}

.homepage-container h4 {
    font-weight: 700;
}