@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

:root {
  font-family: "Anuphan", sans-serif;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
